* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

img {
    object-fit: cover;
    width: 100%;
    height: auto; /* Pour que l'image conserve ses proportions */
}

/* PAGE PASS */
.bg-pass {
    background-image: url(../image/airport-terminal.webp);
    height: 800px;
    background-size: cover;
}

/* BOX POUR LA PAGE */
.box-apropos-pass {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

.left-voy,
.right-voy {
    width: 100%;  /* Par défaut, 100% de largeur */
    max-width: 50%;  /* Limite à 50% sur grands écrans */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    padding: 20px;
}

.left-voy img,
.right-voy img {
    max-width: 100%;
    border-radius: 25px;
}

.bloc-voy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.box-voy,
.box-voy2,
.box-voy3,
.box-voy4 {
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: #5ebec4;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
}

.box-voy h3 {
    color: #000;
}

/* Ajout de media queries pour mobile et tablette */

@media screen and (max-width: 1060px) {
    .left-voy, .right-voy {
        width: 90%; /* Largeur à 90% pour plus d'espace sur mobile */
        height: auto;  /* Laisser la hauteur s'adapter */
        margin-bottom: 20px;
    }

    .bg-pass {
        height: 400px; /* Réduire la hauteur pour les écrans plus petits */
    }

    .bloc-voy {
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .box-voy,
    .box-voy2,
    .box-voy3,
    .box-voy4 {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .box-apropos-pass {
        padding: 20px;
        flex-direction: column;
    }

    .left-voy, .right-voy {
        width: 100%;  /* Sur les petits écrans, les images prennent toute la largeur */
        height: auto; /* On laisse la hauteur s'adapter à l'image */
        padding: 15px;
    }

    .bloc-voy {
        flex-direction: column;
        gap: 10px;
    }

    .btn-apropos {
        width: 80%; /* Bouton plus large sur mobile */
        padding: 12px;
    }

    .apropos p {
        font-size: 14px; /* Réduire la taille du texte pour les petits écrans */
        margin: 0 auto;
    }

    .left img,
    .right img {
        height: auto;  /* Pour les images, les hauteurs seront dynamiques */
        width: 100%;   /* Toujours occuper toute la largeur */
    }

    .right {
        padding: 20px;
        width: 100%;
    }
}
