/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Voypass section */

.dooblepass {
    display: flex;
    height: 100%;
}

.voypass-left,
.voypass-right {
    width: 50%;
    height: 91.3vh;
    background-color: #b36a6a;
    background-image: url('../image/video.webp');
    background-size: cover;
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.voypass-left:hover,
.voypass-right:hover {
    filter: blur(0);
}

.P, .V {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 91.3vh;
}

.bouton-pv {
    width: 100px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .voypass-left,
    .voypass-right {
        filter: none !important;
    }
}
